.node-run-btn {
    font-size: var(--font-size-sm);
    min-width: 1.875rem;
    min-height: 1.875rem;
    border-radius: 5px;
    color: rgba(0,0,0,0.6);
}
.node-run-btn:hover {
    background-color: rgba(0,0,0,0.1);
}

.react-flow__handle::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #383E47;
}

.graph-nodes-panel {
    position: absolute;
    left: 0;
    top: 15px;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.graph-nodes {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),  0px 1px 6px 2px rgba(0, 0, 0, 0.15);
}
.graph-nodes button {
    padding: 0 10px;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 5px;
}
.graph-nodes button:hover {
    background-color: rgba(169, 88, 62, 0.2);
}
.graph-nodes button:first-child {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding-left: 16px;
}
.graph-nodes button:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-right: 16px;
}