.react-flow__node .opal-node {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

.react-flow__node.selected .opal-node {
  outline: 2px solid #000 !important; 
}

.react-flow__handle {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 2px solid #383E47;
}

.react-flow__handle::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #383E47;
}

.node-run-btn {
    font-size: var(--font-size-sm);
    min-width: 1.75rem;
    min-height: 1.75rem;
    border-radius: 5px;
    color: rgba(0,0,0,0.6);
}
.node-run-btn:hover {
    background-color: rgba(0,0,0,0.1);
}

.graph-nodes-panel {
    position: absolute;
    left: 0;
    top: 1.25rem;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.graph-nodes {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.graph-nodes button {
    padding: 0 10px;
    min-width: 2.25rem;
    min-height: 2.25rem;
    border-radius: 5px;
}
.graph-nodes button:hover {
    background-color: rgba(169, 88, 62, 0.2);
}
.graph-nodes button:first-child {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding-left: 16px;
}
.graph-nodes button:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-right: 16px;
}

.graph-nodes .divider {
    height: 1.5rem;
    font-size: 0;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.graph-chatbox {
    position: absolute;
    left: 0;
    bottom: 1.875rem;
    right: 0;
    z-index: 10;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.graph-chatbox-input {
    position: relative;
    width: 500px;
    padding: 10px 3rem 10px 20px;
    background-color: #fff;
    border-radius: 64px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),  0px 1px 6px 2px rgba(0, 0, 0, 0.15);
}
.graph-chatbox-input:focus-within {
    outline: 1px solid #a9583e;
    box-shadow: 0px 1px 2px 0px rgba(169, 88, 62, 0.3),  0px 1px 6px 2px rgba(169, 88, 62, 0.15);
}
.graph-chatbox textarea {
    flex: 1 1 0%;
    width: 100%;
    padding: 5px 0;
    height: auto;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.25;
    scrollbar-color: rgb(225, 225, 225) transparent;
}
.graph-chatbox-submit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    outline: none;
}
.graph-chatbox-submit:hover {
    background-color: rgba(0,0,0,0.1);
}