.opal-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout-header {
    position: relative;
    z-index: 4;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.layout-header::after {
    content: "";
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    display: none;
}

.layout-body {
    position: relative;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: row;
}

.layout-main {
    position: relative;
    flex: 1;
    min-width: 0;
    height: 100%;
}

.layout-sidebar {
    position: relative;
    z-index: 2;
    width: 500px;
    height: 100%;
}

.layout-sidebar.is-hidden {
    display: none;
}

.layout-sidebar::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 6px 2px rgba(0, 0, 0, 0.15);
}

.layout-sidebar-body {
    position: relative;
    z-index: 1;
    height: 100%;
}

/* Editor Header */
.editor-header {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editor-header-left,
.editor-header-center,
.editor-header-right {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
}

.editor-header-center {
    justify-content: center;
}

.editor-header-right {
    justify-content: flex-end;
    gap: 12px;
}

.editor-header-left {
    gap: 10px;
}

.editor-header .nav-title-input {
    border: 0 none;
    outline: 0 none;
    background-color: transparent;
    /* chrome-v123+ */
    field-sizing: content;
    box-sizing: border-box;
    max-width: 90%;
    min-width: 100px;
    font-size: 1rem;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 5px;
}

.editor-header .nav-title-input:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

.editor-header .nav-back {
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 5px;
}

.editor-header .nav-back svg {
    transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1);
}

.editor-header .nav-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.editor-header .nav-back:hover svg {
    transform: translateX(-3px);
}

.editor-header .nav-publish,
.editor-header .nav-share {
    padding: 0 1rem 0 0.75rem;
    min-width: 1.875rem;
    min-height: 1.875rem;
    border-radius: 64px;
}

.editor-header .nav-publish {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.editor-header .nav-share {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.editor-header-btn-group {
    display: inline-flex;
    justify-content: center;
    gap: 4px;
}

.editor-header-btn-group>button {
    padding: 0 10px;
    min-height: 1.875rem;
    min-width: 3rem;
    font-size: var(--font-size-sm);
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background: rgb(241, 241, 241);
    transition: background-color 0.2s cubic-bezier(0, 0, 0.3, 1);
}

.editor-header-btn-group>button:first-child {
    padding-left: 14px;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
}

.editor-header-btn-group>button:last-child {
    padding-right: 14px;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
}

.editor-header-btn-group>button.selected {
    outline: 1px solid #a9583e;
    background-color: rgba(169, 88, 62, 0.2);
}

/* Editor Sidebar */
.editor-side {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editor-side-header {
    height: 2.625rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: var(--bg-color);
}

.editor-side-body {
    flex: 1;
    min-height: 0;
    height: 100%;
    background-color: #fff;
}

.editor-side-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    height: 100%;
    padding: 0 10px;
}

.editor-side-nav>button {
    padding: 0 10px;
    min-height: 1.875rem;
    min-width: 3rem;
    font-size: 12px;
    font-weight: 600;
    border-radius: 64px;
    transition: background-color 0.2s cubic-bezier(0, 0, 0.3, 1);
}

.editor-side-nav>button.selected,
.editor-side-nav>button.selected:hover {
    background-color: rgba(169, 88, 62, 0.2);
}

.editor-side-nav>button:hover {
    background-color: rgba(169, 88, 62, 0.1);
}

.editor-side .empty-state {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.opal-node-detail-header {
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.opal-node-detail-header[data-nodetype='userInput'] {
    background-color: #f3ff9e;
}

.opal-node-detail-header[data-nodetype='opalGenerate'] {
    background-color: #c7d2fe;
}

.opal-node-detail-header[data-nodetype='opalOutput'] {
    background-color: #bbf7d0;
}

.opal-node-detail-header .step-title-input {
    border: 0 none;
    outline: 0 none;
    background-color: transparent;
    field-sizing: content;
    box-sizing: border-box;
    width: 90%;
    font-size: 1rem;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 5px;
}

.opal-node-detail-header .step-title-input:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

.opal-node-detail-body {
    font-size: var(--font-size);
}

.opal-node-detail-body .ql-container {
    font-size: var(--font-size);
}

.opal-node-detail-body .ql-editor {
    padding: 1.25rem 1.75rem;
    line-height: 1.5;
}

.opal-node-detail-body .ql-editor>p {
    margin-bottom: 0.5rem;
}

.opal-node-detail-body .ql-editor .opal-ref-tag {
    display: inline-block;
    padding: 2px 8px 2px 6px;
    margin: 1px 2px;
    border-radius: 99px;
    background: rgba(130,0,219,0.1);
    border: 1px solid rgba(130,0,219,0.6);
    color: rgb(130,0,219);
    line-height: 1;
    vertical-align: middle;
    user-select: none;
    cursor: default;
    user-select: none;
}
.opal-node-detail-body .ql-editor .opal-ref-tag span {
    display: inline-block;
    vertical-align: middle;
}
.opal-node-detail-body .ql-editor .opal-ref-tag:hover {
    background: rgba(130,0,219,0.2);
}
.opal-node-detail-body .ql-editor .opal-ref-tag-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 1.0;
    margin-right: 4px;
}
.opal-node-detail-body .ql-editor .opal-ref-tag-title {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: 500;
    height: 16px;
    line-height: 18px;
}

.ql-mention-list-container {
    width: auto;
    min-width: 150px;
    border: 0 none;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .1), 0px 4px 6px -4px rgba(0, 0, 0, .1), 0px 10px 15px -3px rgba(0, 0, 0, .1);
}
.ql-mention-list {
    padding: var(--padding-sm);
}
.ql-mention-list-item {
    max-width: 260px;
    display: flex;
    font-size: var(--font-size-sm);
    padding: 0.5rem 0.5rem;
    border-radius: var(--radius-sm);
}
.ql-mention-list-item:hover {
    background-color: rgba(169, 88, 62, 0.2);
}
.opal-mention-item {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 1rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}
.opal-mention-item .mention-item-icon {
    line-height: 1.0;
    font-size: 0;
}