#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --font-family: BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Microsoft YaHei', 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-size: 0.875rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
}

body {
  font-family: var(--font-family);
}

button, input[type="text"], input[type="password"], textarea {
  font-size: var(--font-size);
}

/* 通用的layout-resizer样式 */
.layout-resizer {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-resizer::after {
  content: '';
  display: block;
  width: 4px;
  height: 32px;
  border-radius: 2px;
}
.layout-resizer.dragging::after,
.layout-resizer:hover::after {
  border-color: transparent;
}
.layout-resizer[data-region="left"] {
  right: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  margin-right: -3px;
  cursor: col-resize;
}
.layout-resizer[data-region="right"] {
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  margin-left: -3px;
  cursor: col-resize;
}
.layout-resizer[data-region="top"] {
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  margin-bottom: -3px;
  cursor: row-resize;
}
.layout-resizer[data-region="bottom"] {
  left: 0;
  right: 0;
  top: 0;
  height: 6px;
  margin-top: -3px;
  cursor: row-resize;
}
.layout-resizer[data-region="top"]::after,
.layout-resizer[data-region="bottom"]::after {
  height: 2px;
  width: 32px;
}